<div class = "container-fluid">

  <div class = "card w-50 mx-auto" >
    <div class = "card-header c1 text-center text-danger">
      <h1>My Profile</h1>
    </div>
    <div class = "card-body c1">
      <%= render partial: "shared/form", locals: { path: edit_user_path(current_user.id), read: true, button_name: "Edit", method_name: "get", status: "show" } %>  
      <div>
        <%= button_to "Close", root_path, method: :get, class: "form_button" %>
      </div>
    </div>
    <div class = "card-footer">
      <%= render partial: "shared/flash" %>
    </div>
  </div>
</div>