body{
  background-color: #cccccc;
  background-image: url(background.jpeg);
  background-size: cover;; 
}

.label{
  font-size: 1.4rem;
  color: #800000;
}

.c1{
  background-color: #B0C4DE;
}

.login_signup_form{
 width: 100%;
  background-color: #CD5C5C;
  color: 008080;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
}

.form_button { 
  box-sizing: border-box;
  appearance: none;
  background-color: #800000;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}
