<!DOCTYPE html>
<html>
<head>
<title>PDFs - Ruby on Rails</title>
<%= wicked_pdf_stylesheet_link_tag "main.css" %>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
<body>
    <%= yield %>
</body>
</html>
